
@{
    ViewData["Title"] = "Utilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container-fluid text-left pt-2 mt-2 pb-2 mb-2">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Part of the Page</a>

                    <a href="#" class="list-group-item list-group-item-action">Part of the Page</a>

                    <a href="#" class="list-group-item list-group-item-action">Part of the Page</a>

                    <a href="#" class="list-group-item list-group-item-action">Part of the Page</a>

                    <a href="#" class="list-group-item list-group-item-action">Part of the Page</a>

                </div>
            </div>
            <div class="col-md-9">
                <div id="content"></div>
                <h1>Hello World</h1>
            </div>
        </div>
    </div>
</div>


